.card {
  width: 300px;
  border: 1px solid rgb(10, 10, 10);
  padding: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  left: 35%;
  top: 50px;
}

.card img {
  width: 50%;
}

.details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.show {
  max-height: 200px;
  opacity: 1;
}